## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [29]:
# fake up some data
data = {1:[1,2,3], 2:[4,1,9], 3:[1,8,27]}
df = pd.DataFrame(data)
df

   1  2   3
0  1  4   1
1  2  1   8
2  3  9  27

In [30]:
data

{1: [1, 2, 3], 2: [4, 1, 9], 3: [1, 8, 27]}

In [59]:
population = np.random.rand(3)*10000000
population = np.round(population)
data = {'國家':['Taiwan','US','Thailand'] ,
        '人口':population}
data2 = pd.DataFrame(data)
data

{'國家': ['Taiwan', 'US', 'Thailand'],
 '人口': array([ 436266., 7935898., 5805076.])}

In [60]:
data2

         國家         人口
0    Taiwan   436266.0
1        US  7935898.0
2  Thailand  5805076.0

In [85]:
data2.shape[0]
len(data2)
#data2[0:1,'國家':'人口']
data2.loc[0,'人口']
?data2.loc

In [124]:
temp_people = 0
max_people = 0
max_index = 0
for index in range(len(data2)):
    temp_people = data2.loc[index,'人口']
    if temp_people > max_people:
        max_people = temp_people
        max_index = index
print('人口最多的國家是: %s 總共有 %d 人' %(data2.loc[index,'國家'], max_people))

人口最多的國家是: Thailand 總共有 7935898 人